@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/ttf/Montserrat-Light.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/ttf/ralewaylight.ttf);
}

body {
    font-family: Montserrat-Light;
}

header {
    width: 1920px;
    min-height: 1024px;
    margin: 0 auto;
    background: url(../img/bg-logo.jpg) no-repeat;
    padding: 40px 0;
    box-sizing: border-box;
    color: #fff;
}

.main-header {
    width: 1230px;
    min-height: 56px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.main-header-logo {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    /* border: 1px solid black; */
    text-decoration: none;
    color: #fff;
}

.logo-txt {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
  }
  

.main-nav-list {
    float: left;
    padding: 0;
    width: 670px;
    float: left;
    margin-left: 216px;
}

.main-nav-list li {
    float: left;
    padding-right: 29px;
    list-style-type: none;
    box-sizing: border-box;
}

.main-nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.bin{
    float: left;
    padding: 0;
    margin: 13px;
    background: none;
    border: none;
    outline: none;
}

.search {
    float: left;
    padding: 0;
    margin: 13px;
    background: none;
    border: none;
    outline: none;
}

a:hover {
    color: #c7b299;
}

svg {
    fill: #ffffff;
}

a:active, svg:active {
    color: #df8b26;
}

svg:hover {
    fill: #c7b299;;
}

svg:active {
    fill: #df8b26;;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1640px;
    min-height: 635px;
    margin: 0 auto;
    margin-top: 245px;
    border: 1px solid white;
    position: relative;
  }

  .carousel-btn {
    display: block;
    width: 42px;
    height: 75px;
  }

  .carousel-btn:nth-of-type(1) {
    margin: 0 450px 0 0;
  }
  
  .carousel-btn:nth-of-type(2) {
    margin: 0 0 0 450px;
  }

  .carousel-txt {
    width: 627px;
    min-height: 320px;
    background-color: #ccc;
  }

  .carousel-pagination {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 5px 0;
    border: 1px solid red;
    position: absolute;
    bottom: 0;
    margin: auto;
  }
  
  .carousel-pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: gold;
  }
