@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/ttf/Montserrat-Light.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/ttf/ralewaylight.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/ttf/ralewaymedium.ttf);
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url(../fonts/ttf/ralewayextrabold.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/ttf/ralewaysemibold.ttf);
}

body {
    font-family: Montserrat-Light;
}

a  {
    text-decoration: none;
}

header {
    width: 100%;
    min-height: 1024px;
    margin: 0 auto;
    background: url(../img/bg-logo.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0;
    box-sizing: border-box;
    color: #fff;
}

h2 {
    margin: 0;
    font-size: 36px;
    font-family: Raleway-Medium;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    margin: 5px;
    font-size: 52px;
    font-family: Raleway-ExtraBold;
    font-weight: 800;
    line-height: 1.2;
}

.main-header {
    width: 1230px;
    min-height: 56px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.main-header-logo {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    /* border: 1px solid black; */
    /* text-decoration: none; */
    color: #fff;
    fill: #fff;
}

.main-header-logo:hover {
    color: #c7b299;
    fill: #c7b299;
}

.main-header-logo:active {
    color: #df8b26;
    fill: #df8b26;
}

.logo-txt {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
  }
  

.main-nav-list {
    float: left;
    padding: 0;
    width: 670px;
    float: left;
    margin-left: 216px;
}

.main-nav-list li {
    float: left;
    padding-right: 29px;
    list-style-type: none;
    box-sizing: border-box;
}

.main-nav-list a {
    color: #fff;
    /* text-decoration: none; */
    font-size: 14px;
}

.bin, .search {
    float: left;
    padding: 0;
    margin: 13px;
    background: none;
    border: none;
    outline: none;
    fill: #fff;
}

/* .search {
    float: left;
    padding: 0;
    margin: 13px;
    background: none;
    border: none;
    outline: none;
} */

a:hover {
    color: #c7b299;
}

a:active {
    color: #df8b26;
}

svg:hover {
    fill: #c7b299;;
}

svg:active {
    fill: #df8b26;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1640px;
    min-height: 770px;
    margin: 0 auto;
    margin-top: 120px;
    /* border: 1px solid white; */
    position: relative;
  }

  .carousel-btn {
    display: block;
    width: 42px;
    height: 75px;
    fill: #fff;
    opacity: 0.5;
  }

  .carousel-btn:nth-of-type(1) {
    margin: 0 450px 0 0;
  }
  
  .carousel-btn:nth-of-type(2) {
    margin: 0 0 0 450px;
  }

  .carousel-txt {
    width: 627px;
    min-height: 320px;
    /* background-color: #ccc; */
    text-align: center;
    margin-top: -130px;
  }

  .carousel-txt p {
      width: 570px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
  }

  .carousel-txt-btn {
      width: 170px;
      min-height: 53px;
      margin-top: 50px;
      background-color: #998675;
      border-radius: 5px;
      font-family: Raleway-ExtraBold;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      line-height: 23px;
      padding: 0;
      border: none;
      outline: none;
  }

  .carousel-txt-btn:hover, .carousel-pagination-item:hover {
      background-color: #c7854b;
  }

  .carousel-txt-btn:active, .carousel-pagination-item:active {
    background-color: #ece3db;
}

  .carousel-pagination {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 5px 0;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0;
    margin: auto;
  }
  
  .carousel-pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
  }

  .carousel-pagination-item:nth-of-type(2) {
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      background: none;
      box-sizing: border-box;
  }

  header::after { /*?*/
      width: 100%;
      min-height: 100px;
      content: "";
  }

  .services-flex {
      width: 1230px;
      min-height: 375px;
      margin: 0 auto;
      border: 1px solid red;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      box-sizing: border-box;
  }

  .service {
      width: 270px;
      min-height: 375px;
      border: 1px black solid;
      box-sizing: border-box;
      padding: 80px 0;
  }

  .service-link {
    display: block;
    fill: #555;
    color: #555;
    font-family: Raleway-SemiBold;
    font-size: 22px;
  }

  .service-link:hover {
    fill: #c7b299;
    color: #c7b299;
  }

  .service-txt {
      font-family: Montserrat-Light;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      color: #8c8c8c;
  }